.wrapper {
    --search-border-radius: 92px;
    --search-box-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
    --search-button-color: rgba(22, 24, 35, 0.34);
    --search-button-bgColor-active: rgba(22, 24, 35, 0.06);
    --search-button-bgColor-hover: rgba(22, 24, 35, 0.03);

    height: var(--default-layout-header-height, 60px);
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    padding-left: 16px;
}

.search,
.search-result {
    width: 500px;
}

.search {
    position: relative;
    height: var(--search-box-height);
    background-color: var(--search-button-bgColor-active);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    border: 1px solid transparent;

    &:hover,
    &:focus {
        border-color: rgba(22, 24, 35, 0.06);
    }

    input {
        flex: 1;
        height: 100%;
        width: 80%;
        color: var(--black);
        padding: 12px 0;
        border: none;
        background: transparent;
        caret-color: hotpink;
    }

    input:not(:placeholder-shown)~.search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: "";
        position: absolute;
        height: calc(var(--search-box-height) - var(--search-top-spacer) * 2);
        width: 1px;
        top: var(--search-top-spacer);
        right: var(--search-button-width);
        background-color: rgba(22, 24, 35, 0.12);
    }
}

.search-result {
    padding-top: 8px;
}

.search-title {
    padding: 5px 12px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 18px;
    color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: var(--search-button-color);
    cursor: pointer;
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: var(--search-button-color);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }

    &:active {
        background-color: var(--search-button-bgColor-active);
    }
}

.more-btn {
    font-size: 2rem;
    width: 20px;
    height: 20px;
    margin-left: 24px;
    background-color: transparent;
}

//Menu

.menu-item {
    min-width: 224px;
    padding: 4px 8px;
}