@import 'normalize.css';

:root {
    --primary: rgb(255 44 85);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "IBM Plex Sans", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}